@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #FBFCFD;
  --text-color: #4D4535;
  --accent-color: #E97F12;
  --accent-dark-color: #BA660E;
  --accent-light-color: #F8DFCF;
  --text-opacity-color: rgb(77, 69, 53, 0.6);
  --form-error-color: #D80606;
}

body {
  overscroll-behavior-x: none;
}
