@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #fbfcfd;
  --text-color: #4d4535;
  --accent-color: #e97f12;
  --accent-dark-color: #ba660e;
  --accent-light-color: #f8dfcf;
  --text-opacity-color: rgb(77, 69, 53, 0.6);
  --form-error-color: #d80606;
}

body {
  overscroll-behavior-x: none;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
